@use "../core";
@use "sass:color";

.container {
   background-color: core.$container-color;
   @include core.box-shadow(core.$box-shadow);

   // Transition entre le changement des themes
   @include core.transition(background-color, core.$transition-duration);

   &.rounded {
      @include core.border-radius(core.$radius);
   }

   .container {
      background-color: color.mix(white, core.$container-color, 10%);
   }
}

.container-label {
   display: flex;
   flex-direction: column;
   gap: calc(var(--padding) / 4);
}